<template name="filteredList">

  <div class="parallax-container">
    <div class="parallax"><img src="{{playlistPicture}}"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h4 class="header">{{playlistTitle}}</h4>
      <p><a href="#">{{musicCount}} tracks</a></p>
      <p class="grey-text text-darken-3 lighten-3">{{playlistDescription}}</p>
    </div>
  </div>

  <div class="trackList">
    {{#if hasMusic}}
      <div class="row center-align">
        <div class="dropdown-button-filter btn btn-flat btn-playlistFilter waves-effect waves-light filterBtn" data-activates="dropdownFilter" data-beloworigin="true" style="width: 95%">{{currentFilter}}</div>
        <!-- Dropdown Structure -->
        <ul id="dropdownFilter" class="dropdown-content">
          <li><a href="#!" class="applink-chooseFilter" data-trackfilter="Tracks from everyone">{{filterLabel 'Tracks from everyone'}}</a></li>
          <li><a href="#!" class="applink-chooseFilter" data-trackfilter="Tracks added by me">{{filterLabel 'Tracks added by me'}}</a></li>
          <li class="divider"></li>
          <li><a href="#!" class="applink-chooseFilter" data-trackfilter="Recommended">{{filterLabel 'Recommended'}}</a></li>
        </ul>

        <div class="dropdown-button-order btn btn-playlistFilter waves-effect waves-light orderBtn" data-beloworigin="true" data-activates="dropdownOrder" style="width: 95%">{{currentOrder}}</div>
        <!-- Dropdown Structure -->
        <ul id="dropdownOrder" class="dropdown-content">
          <li><a href="#!" class="applink-chooseOrder" data-trackorder="Added first">{{orderLabel 'Added first'}}</a></li>
          <li><a href="#!" class="applink-chooseOrder" data-trackorder="Added last">{{orderLabel 'Added last'}}</a></li>
          <li class="divider"></li>
          <li><a href="#!" class="applink-chooseOrder" data-trackorder="Most played">{{orderLabel 'Most played'}}</a></li>
          <li><a href="#!" class="applink-chooseOrder" data-trackorder="Least played">{{orderLabel 'Least played'}}</a></li>
        </ul>
      </div>
      <ul class="collection">
        {{#each musicList}}
          <li id="{{#if isPlaying location}}playingTrack{{/if}}" class="collection-item {{_id}} avatar {{#if isPlaying location}} active{{/if}}" data-src="{{location}}">
            <div class="{{#if isPlaying location}}applink-pauseMusic{{else}}applink-playMusic{{/if}}" style="margin-right: 90px;">
              <div style="display:none" class="id">{{_id}}</div>
              <img src="{{thumbnail}}" alt="" class="circle">
              <span class="title">{{title}}</span>
              <p><div class="artist">{{{artist}}}</div>
                 {{readableTime length}}
              </p>
            </div>
          
            <div id="optionsTrigger-{{_id}}" class="secondary-content applink-trackOptionsTrigger" data-id={{_id}}>
              <i class="material-icons" style="color: {{#if isPlaying location}}white{{else}}#2d2d2d{{/if}}; cursor: pointer;">more_vert</i>
            </div> 
            <div id="options-{{_id}}" class="secondary-content trackOptionsIcons">
              {{#if isPlaying location}}
              
                <i class="material-icons cursor-pointer applink-addToPlaylist" style="color: white; margin-right: 15px;">playlist_add</i>
                <i class="material-icons applink-pauseMusic cursor-pointer" style="color: white; margin-right: 15px;">pause</i>
                <a href="{{location}}" download="{{artist}} - {{title}}.mp3" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Download" style="right: 115px;">
                  <i class="material-icons applink-downloadMusic" style="color: white;">cloud_download</i>
                </a>
              {{else}}
                <i class="material-icons cursor-pointer applink-addToPlaylist" style="color: #31354E; margin-right: 25px;">playlist_add</i>
                <i class="material-icons applink-queueMusic cursor-pointer" style="color: #31354E;">queue</i>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ul>
      {{#if showLoadMore}}
        <div class="row center-align">
          <div class="btn btn-flat btn-playlistFilter waves-effect waves-light filterBtn applink-loadMoreTracks" style="width: 95%">Load more tracks</div>
        </div>
      {{/if}}
    {{else}}
      <div class="center">
        <i class="large material-icons" style="margin-top:25px;">library_music</i>
        <p style="margin-top: 25px;">There is no music in the library! Add a song to see it here.</p>
      </div>
    {{/if}}
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add to Playlist</h4>
      {{#if creatingNewPlaylist}}
      <p>Please fill the new playlist details below:</p>


      <div class="row">
        <form class="col s12">
          <div class="row">
          <div class="input-field col s12">
              <i class="material-icons prefix">playlist_play</i>
              <input id="playlist_name" type="text" class="validate">
              <label for="playlist_name">Playlist name</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">description</i>
              <input id="playlist_description" type="text" class="validate">
              <label for="playlist_description">Description</label>
            </div>
          </div>
        </form>
      </div>
        

      {{else}}
      <ul class="collection">
        <li id="toPlaylist" class="collection-item avatar">
          <img src="{{toPlaylistThumbnail}}" class="circle">
          <span class="title">{{toPlaylistTitle}}</span>
          <p><div class="artist">{{toPlaylistArtist}}</div>
          {{readableTime toPlaylistLength}}
          </p>
        </li>
      </ul>
      <p>Please choose a playlist to add this track:</p>
      {{#each playlistList}}
        <ul class="collection">
          <li class="collection-item applink-confirmPlaylist"><div>{{name}}<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div></li>
        </ul>
      {{/each}}
      {{/if}}
    </div>
    <div class="modal-footer">
      {{#if creatingNewPlaylist}}
        <a href="#!" class="waves-effect waves-red btn-flat applink-toPlaylistBack">Back</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat applink-createPlaylist">Create new Playlist</a>
      {{else}}
        <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat applink-closeCreatePlaylist">Cancel</a>
        <a href="#!" class="waves-effect waves-green btn-flat applink-createPlaylist">Create new Playlist</a>
      {{/if}}
    </div>
  </div>

</template>