<template name="home">
  <div class="container">
    <div class="text-center">
      <h1>A cloud music player. That's it!</h1>
      <div class="search-wrapper card">
        <input type="text" id="search" style="width: 86%; border-style: none; margin-top: 16px;"><i class="material-icons applink-searchMusic">search</i>
      </div>
      <p>
        Just search for a song. The music will start playing on your phone, downloading the song and saving it on a master playlist, for all our friends!
      </p>
      <p>
        User accounts are not available at the moment. An invite system will be available soon.
      </p>
    </div>
  </div>
</template>
